.app.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app.main {
  flex-grow: 1;
}

.navigation {
  height: 50px;
  margin: 2em 0;
}

.app .content {
  width: 640px;
}

.app .right.column {
  width: 320px;
}

.app .app.header {
  background: #fff;
}

.app .app.footer {
  background: #1b1c1d;
}

body {
  background: #f1efeb;
}

/*h2 {*/
  /*color: rgba(251, 66, 75, 0.8);*/
/*}*/

header.ui.padded.segment {
  padding-bottom: 0;
}


/* Player */
.player-wrapper {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.player-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.player-progress {
  position: absolute;
  width: 1px;
  height: 3px;
  top: -3px;
  left: 0;
  background: #e03997;
}
.player-duration {
  font-size: 1.7rem;
}